<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MRJNetApi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>MyCloud_OC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0518D0A61CC8A3ED00FD0B1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0518D0AF1CC8A3ED00FD0B1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0528C68E1CB49E3D001C8281</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0528C6A71CB49E3D001C8281</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0528C6B21CB49E3D001C8281</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
